<!DOCTYPE html>
<html>

<head>
</head>

<body>
  <form action="postajob" method="post">
    <label>Major:</label>
    <select name="majores" id="majores">
        <option value="CS">Computer science</option>
        <option value="EE">Electrical engeniring</option>
        <option value="M">Mathematics</option>
        <option value="other">other</option>
    </select><br>
    <label>General Skill:</label>
    <select name="skills" id="skills">
        <option value="skill1">skill 1</option>
        <option value="skill2">skill 2</option>
        <option value="skill3">skill 3</option>
        <option value="skill4">skill 4</option>
    </select><br>
    <label>General Skill:</label>
    <select name="skills2" id="skills2">
        <option value="skill5">skill 5</option>
        <option value="skill6">skill 6</option>
        <option value="skill7">skill 7</option>
        <option value="skill8">skill 8</option>
    </select><br>
    <label>Job Description</label> 
    <input type="text" name="description"><br><br>
    <input type="submit" value="Submit">
  </form>
</body>


</html>